# 安装依赖时不会严格检查 peerDependencies
strict-peer-dependencies=false
# 会将所有依赖提升到项目根目录的 node_modules 中
shamefully-hoist=true
# 在工作区根目录中安装依赖时不会进行检查。允许在工作区根目录中安装依赖，适用于 monorepo 项目结构。
ignore-workspace-root-check=true
# pnpm 会使用 shell 模拟器来执行脚本。确保在不同操作系统和环境下脚本的执行行为一致
shell-emulator=true
