:root {
  --font-family-base: "Punctuation SC", "Inter", ui-sans-serif, system-ui, "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Heiti SC", "Microsoft YaHei", "DengXian", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
page {
  font-size: 28rpx;
  color: #333;
  height: 100%;
}
view,
text {
  box-sizing: border-box;
}

.wot-theme-light,
.wot-theme-dark {
  height: 100%;
}

.card {
  border: 1px solid #E8E8E8;
  --at-apply: px-12 py-8 text-center font-700 color-#333 bg-white rounded-6 transition-all duration-200 ease-in-out shadow-[0_2px_10px_rgba(0,0,0,.1)] active:(scale-110);
}
